<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>1125</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>dogName</param-name>
        <param-value>花花</param-value>
    </context-param>
    <listener>
        <listener-class>Listener.ContextListener</listener-class>
        <listener-class>Listener.ContextAttributeListener</listener-class>
    <listener>
</web-app>